extends ../layout
include ../mixins/mixinVideo

block content
  if !user.avatarUrl === undefined 
    img(src="/src/images/default_user.png")
  else 
    img(src=`${user.avatarUrl}`)
  h4
    |Name 
    h5 - #{user.name}
  h4
    |Email 
    h5 - #{user.email}
  h4
    |Location 
    h5 - #{user.location}
  h4 
    |Github
    h5 - #{user.githubId}
  h4 
    |Kakao
    h5 - #{user.kakaoId}
  if loggedInUser.name === user.name 
    a(href=`/users/${loggedInUser._id}/edit`)
      button 프로필 수정
    if loggedInUser.githubId === null && loggedInUser.kakaoId === null
      a(href=`/users/${loggedInUser._id}/change-password`)
        button 비밀번호 변경
  each video in videos 
    +mixinVideo(video)
  else 
    h1 Video not found.